body {
  font-family: Arial;
}

input {
  height: 25px;
  font-size: 18px;
  padding: 10px;
}

button {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: white;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 200px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.add-button {
  background-color: green;
}

.delete-button {
  padding: 10px 0;
  background-color: red;
}
